<div ngClass="play-component" class="play-component">
  <div ngClass="card-play" class="card-play fadeInObject">
    <h1>Felipe</h1>
    <p>End-Boss</p>
    <img src="./assets/card/placeholder.png" alt="placeholder">
    <table>
      <tr>
        <th>Spezies</th>
        <td>Boss</td>
      </tr>
      <tr>
        <th>Angriff</th>
        <td>200</td>
      </tr>
      <tr>
        <th>Leben</th>
        <td>5000</td>
      </tr>
      <tr>
        <th>Schild</th>
        <td>2000</td>
      </tr>
    </table>
    <div ngClass="interaction" class="interaction">
      <button ngClass="go" onclick="location.href = 'https://www.google.com/'">Gehen</button>
      <button ngClass="fight">Kämpfen</button>
    </div>
  </div>
</div>
