<div class="play-component">
  <div class="card-play fadeInObject">
    <h1>{{this.game.enemy.name}}</h1>
    <p>{{this.game.enemy.description}}</p>
    <img [src]="this.game.enemy.image.src" [alt]="this.game.enemy.image.alt">
    <table>
      <tr>
        <th>Spezies</th>
        <td>{{this.game.enemy.spezies}}</td>
      </tr>
      <tr>
        <th>Angriff</th>
        <td>{{this.game.enemy.stats.attack | number : '1.1-1'}}</td>
      </tr>
      <tr>
        <th>Leben</th>
        <td>{{this.game.enemy.stats.life | number : '1.1-1'}}</td>
      </tr>
      <tr>
        <th>Schild</th>
        <td>{{this.game.enemy.stats.shield | number : '1.1-1'}}</td>
      </tr>
    </table>
    <div class="interaction">
      <button *ngIf="this.game.enemy.buttonLeft.show" (click)="this.game.enemy.buttonLeft.click();">{{this.game.enemy.buttonLeft.content}}</button>
      <button *ngIf="this.game.enemy.buttonRight.show" (click)="this.game.enemy.buttonRight.click();">{{this.game.enemy.buttonRight.content}}</button>
    </div>
  </div>
</div>
