<div class="create-component">
    <div class="name">
        <input placeholder="Name" class="createNameInput" type="text" maxlength="17" min="1" autocomplete="off" autocorrect="off" spellcheck="off" (input)="checkValue()">
        <button disabled="true" (click)="this.saveName();" class="createSubmitButton">Bestätigen</button>
    </div>
    <div class="man none" (click)="this.saveGender('man');">
        Man
    </div>
    <div class="women none" (click)="this.saveGender('women');">
        Women
    </div>
</div>