<div ngClass="buttons-bottom">
  <div ngClass="buttons">
    <div ngClass="play button">
      <a routerLink="/play">
      <img src="./assets/buttons/play.svg" alt="play">
      </a>
    </div>
    <div ngClass="inv button">
      <a routerLink="/inventory">
      <img src="./assets/buttons/inventory.svg" alt="inventory">
      </a>
    </div>
    <div ngClass="shop button">
      <a routerLink="/shop">
      <img src="./assets/buttons/shop.svg" alt="shop">
      </a>
    </div>
    <div ngClass="settings button">
      <a routerLink="/settings">
      <img src="./assets/buttons/settings.svg" alt="settings">
      </a>
    </div>
  </div>
</div>
