<div class="buttons-bottom">
  <div class="buttons">
    <div class="play button">
      <a routerLink="/play">
        <img src="./assets/buttons/play.svg" alt="play">
      </a>
    </div>
    <div class="inv button">
      <a routerLink="/inventory">
        <img src="./assets/buttons/inventory.svg" alt="inventory">
      </a>
    </div>
    <div class="shop button">
      <a routerLink="/shop">
        <img src="./assets/buttons/shop.svg" alt="shop">
      </a>
    </div>
    <div class="settings button">
      <a routerLink="/settings">
        <img src="./assets/buttons/settings.svg" (click)="this.myClickHandler()" alt="settings">
      </a>
    </div>
  </div>
</div>
