.level-xp-anzeige {
  position: absolute;
  bottom: 90px;
  left: 0px;
  z-index: 500;

  display: block;
  width: 100%;
  height: auto;

  text-align: center;
  font-size: 1.5rem;

  .level-anzeige {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .xp-anzeige {
    height: 3px;
    background-color: rgb(101, 197, 252);
    transition-duration: 1s;
  }

  animation-name: fadeInFromBottom;
  animation-duration: 0.5s;

}

@keyframes fadeInFromBottom {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
}
