<div class="anzeige-top">
  <div class="hp anzeige" >
    <img src="./assets/anzeige/leben.svg" alt="leben">
    <p>{{user.health}}</p>
  </div>
  <div class="damage anzeige">
    <img src="./assets/anzeige/damage.svg" alt="damage">
    <p>{{user.attack}}</p>
  </div>
  <div class="shield anzeige">
    <img src="./assets/anzeige/shield.svg" alt="shield">
    <p>{{user.shield}}</p>
  </div>
  <div class="gold anzeige">
    <img src="./assets/anzeige/gold.svg" alt="gold">
    <p>{{user.gold}}</p>
  </div>
</div>
