$width: 275px;

.inventory {
  height: 100vh;
  width: 100%;
}

.charakterScreen {
  display: block;
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: $width;
  height: 300px;

  background-color: pink;
  border: 1px solid black;

}

#hotbar {
  display: grid;
  text-align: center;
  margin-bottom: 30px;
  width: $width;

  .hotbarSlot {
    grid-row: 1;
  }
}

#inv {
  display: grid;
  text-align: center;
  margin: 0 auto;
  width: $width;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);

  app-inventoryslot {
    margin: 5px;
  }
}

app-inventoryslot {
  img {
    object-fit: cover;
  }
}

button {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 0 8px;
  cursor: pointer;

  &:hover {
    transform: scale(98%);
  }
}
